extends layout

block main
  if todoLists === undefined || todoLists.length === 0
    p#no_list You don't have any todo lists. Why not create one?
  else
    ul#lists
      each list in todoLists
        li(class=list.isDone() ? "done" : "")
          a(href=`/lists/${list.id}`)
            h2= list.getTitle()
            p #{list.allDone().size()} / #{list.size()}

block headerLinks
  .actions
    a.add(href="/lists/new") New List